h2{
	color:  RGB(20,31,42);
	padding-top: 28px;
	padding-left: 10px;
}
.le_post{
	width: 560px;
	padding-left: 65px;

}
p{
	color:white;
}
.container{
	border: 3px solid RGB(59,83,101);
	margin-bottom: 50px;
	background-color: RGB(59,83,101);
	border-radius: 15px;
}
.lien10{
	color:RGB(20,31,42);
	margin-left: 65px;
	background-color:  RGB(59,83,101);
	border: RGB(20,31,42);

}
.lien20{
	color: RGB(20,31,42);
	margin-left: 40px;
	background-color: RGB(59,83,101);
	border: RGB(20,31,42);
}

.lien20:hover{
	color: white;
	
}
.lien10:hover{
	color: white;
	
}
.lien20:active{
	border: RGB(20,31,42);
	color: white;
}

.lien100{
	margin-top: 35px;
	color:RGB(20,31,42);
	margin-left: 250px;
	background-color:  RGB(59,83,101);
	border: RGB(20,31,42);

}
.lien200{
	color: RGB(20,31,42);
	margin-left: 5px;
	background-color: RGB(59,83,101);
	border: RGB(20,31,42);
}

.lien200:hover{
	color: white;
	
}
.lien100:hover{
	color: green;
	
}
